<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Purchases</title>
</head>
<body>
<h3>Dollar Purchases</h3>
<table>
    <thead>
    <tr>
        <th>Number</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Commission</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dp:${dollarPurchases}">
        <td th:text="${dp.id}"></td>
        <td th:text="${dp.quantity}"></td>
        <td th:text="${dp.price}"></td>
        <td th:text="${dp.commission}"></td>
    </tr>
    </tbody>
</table>
<form method="post" th:action="@{/add-dollar-purchase}">
    <input type="text" name="quantity" placeholder="quantity">
    <input type="text" name="price" placeholder="price">
    <button type="submit">Add</button>
</form>

</body>
</html>