<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Purchases</title>
</head>
<body>
<h3>Dollar Purchases</h3>
<table>
    <thead>
    <tr>
        <th>Number</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Commission</th>
        <th>Difference</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dp, state:${dollarPurchases}">
        <td th:text="${dp.id}"></td>
        <td th:text="${dp.quantity}"></td>
        <td th:text="${dp.price}"></td>
        <td th:text="${dp.commission}"></td>
        <td th:text="${currencyDifferences[state.index]}"></td>
    </tr>
    </tbody>
</table>
<form method="post" th:action="@{/add-dollar-purchase}">
    <input type="text" name="quantity" placeholder="quantity">
    <input type="text" name="price" placeholder="price">
    <button type="submit">Add</button>
</form>
<p th:text="'Commission: ' + ${currencyCommissionAdder} + ' Р'"></p>
<p th:text="'Difference: ' + ${currencyAdder} + ' Р'"></p>
<br>
<h3>Shares Purchases</h3>
<table>
    <thead>
    <tr>
        <th>Number</th>
        <th>Ticker</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Commission</th>
        <th>Difference</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="share, state:${sharePurchases}">
        <td th:text="${share.id}"></td>
        <td th:text="${share.ticker}"></td>
        <td th:text="${share.quantity}"></td>
        <td th:text="${share.price}"></td>
        <td th:text="${share.commission}"></td>
        <td th:text="${shareDifferences[state.index]}"></td>
    </tr>
    </tbody>
</table>
<br>
<form method="post" th:action="@{/add-share-purchase}">
    <input type="text" name="ticker" placeholder="ticker">
    <input type="text" name="quantity" placeholder="quantity">
    <input type="text" name="price" placeholder="price">
    <button type="submit">Add</button>
</form>
<p th:text="'Commission: ' + ${shareCommissionAdder} + ' $'"></p>
<p th:text="'Difference: ' + ${shareAdder} + ' $'"></p>
<br>
</body>
</html>